@import url(https://fonts.googleapis.com/css?family=Text+Me+One|Open+Sans);


body{
    margin: 0 ;
    background-color: rgba(26, 188, 156,1.0);
}




header{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color: white;
   height: 100px;
   margin-bottom: 50px;



}


h1{

	font-family: 'Text Me One', sans-serif;
	color: #666;
    text-align: center;
    font-size: 57px;
    opacity:.7;
 


}
p{

    color: #666;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 20px;
    


}
.texto{
  font-family:'Open Sans', 'sans-serif';
  padding: 10px;
}

 
 #Result{
   width:400px;
 
   height: auto;
 
   


 }
 .containerFirst{
   display:flex;
   justify-content:space-around;
   flex-direction: column;
   align-items:center;
 }

 
 .textAreaFirt{
margin-bottom: 100px;
 }

 .resultadocontent{
   background-color: #fff;
   border-radius: 5px;
 }
 .offsetstyle{
  width: 50px;
 }