@import url(https://fonts.googleapis.com/css?family=Text+Me+One|Open+Sans);


body{
    margin: 0 ;
    background-color: #f0ad4e;
   
}




header{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
  
   height: 100px;
   margin-bottom: 50px;
   margin-left: -50px;
   background-color: white;



}


h1{

	font-family: 'Text Me One', sans-serif;
	color: #fff;
    text-align: center;
    font-size: 57px;
    opacity:.8;
 


}
p{

  font-family: Arial, Helvetica, sans-serif;
color: rgb(107, 107, 107);
font-size: 20px;
    


}
.texto{
  font-family:'Open Sans', 'sans-serif';
  padding: 10px;
}
.textoDes{
  font-family:'Open Sans', 'sans-serif';
  padding: 10px;
}

 .ciphertxt{
  width:420px;
  height: 240px;
 }

 #Result{
   width:420px;
   overflow: auto;
   background-color: #fff;
   height: 240px;
   margin-bottom: 5px;
 }
 .containerFirst{
   display:flex;
   justify-content:center;
   flex-direction: row;
 
 }

 
 .textAreaFirt{
margin-bottom: 100px;
 }

 .resultadocontent{
   background-color: #fff;
   border-radius: 5px;
 }
 .offsetstyle{
  margin-bottom:5px;
 }



 #codifik{
  width: 100px;
  margin-top: 80px;
  padding-left: 20px;
  font-size: 70px;
  color: #fff;
 }

 .btn {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 120px
}

.btn.btn-outline {
  background: 0 0
}
 .btn-outline.btn-default {
  border-color: #fff;
  color: #fff;
}

.btn-outline.btn-default:hover {
  background-color: #B0BEC5;
  border-color: #B0BEC5;
}

.btn-outline.btn-success {
  border-color: #64DD17;
  color: #64DD17
}

.btn-outline.btn-success:hover {
  border-color: #64DD17;
  background-color: #64DD17
}

.btn-outline.btn-warning {
  border-color: #f2ae47;
  color: #f2ae47
}

.btn-outline.btn-warning:hover {
  background-color: #f2ae47;
   border-color: #FFD600;
   color:#fff
}

.textsmall{
  font-size: 14px;
  
}



@media only screen and (max-width: 800px) {
  header{
        
        flex-direction:column;
      
    }
  
    .containerFirst{
     
      flex-direction: column;
      align-items: center;
    
    }
    #codifik{
      width: 50px;
      margin-top: 0px;
      transform: rotate(90deg);
 
      -webkit-transform: rotate(90deg);
 
      -moz-transform: rotate(90deg);
 
      -o-transform: rotate(90deg);
     }
    
     .textAreaFirt{
      margin-bottom: 0px;
       }
  }

@media only screen and (max-width: 600px) {

  .Descifrado{
    width: 100%;
    padding: 20px;
  }
  .ciphertxt{
    width: 100%;
  }
  #Result{

    width: 100%;
  }
}