@import url(https://fonts.googleapis.com/css?family=Text+Me+One);

html{
	
    background-color: rgba(26, 188, 156,1.0);

}

header{
   display:flex;
   flex-direction: row;


}


h1{

	font-family: 'Text Me One', sans-serif;
	color: #ffffff;
    text-align: center;
    font-size: 57px;
    opacity:.7;
    margin: 10px;

}
p{
    text-align: center;
    font-family: arial;
    color: lightblue;
    margin-bottom: 50px;


}
#containerFirst{
  display: flex;
   
}


